########
# Gradle
########
.gradle/
build/
dev*
release*
default*

########
# Idea
########
.idea
*.iml

########
# Sublime
########
.sublime

########
# General
########
*.log
.classpath
.project
.settings/
bin/