########
# Gradle
########
.gradle/
build/
dev*
release*
default*

########
# Idea
########
.idea
*.iml

########
#NetBeans
########
.nb-gradle*

########
# Sublime
########
.sublime

########
# General
########
*.log
.classpath
.project
.settings/
bin/
/logs
/results
/.nb-gradle/private/