<root>
	<global>
        <spooling>.log</spooling>
	</global>
	<options>
		<opt field="VERBOSE" handler="setParam">v</opt>
		<opt field="TRACE" handler="setParam">t</opt>
		<opt field="SPOOLING" handler="setParam">s</opt>
		<opt field="FILE_MERGING" handler="setParam">m</opt>
		<opt field="EXTNDD_PATTERN" handler="setExtendedPattern">e</opt>
		<opt field="ATMTN_LEVEL" handler="setAutomation">a</opt>
		<opt field="ATMTN_LEVEL" handler="setAutomation">i</opt>
		<opt field="DATE_TIME_FILTER" handler="setDateTimeFilter">dtime</opt>
	</options>
	<pp_config default_sep="csv">
		<pp_splitter_types>
			<splitter_type handler="processPostFilter" id="filter"/>
			<splitter_type handler="processPostCounter" id="counter"/>
		</pp_splitter_types>
		<pp_separators>
			<separator id="csv" spool=".csv">,</separator>
		</pp_separators>
	</pp_config>
	<automation>
		<level handler="parseEntryConfig" id="entry_pattern" order="1" tags="a, i"/>
		<level handler="parseExecuteThreadConfig" id="execute_thread" order="2" tags="i"/>
	</automation>
	<date_time_config>
			<pattern id="INPUT_DATE_TIME_FORMAT" order="1" tags="dtime">yyyy-MM-dd'T'HH:mm:ss</pattern>
			<pattern id="INPUT_DATE_TIME_FORMAT_M" order="2" tags="dtime">yyyy-MM-dd'T'HH:mm</pattern>
			<pattern id="INPUT_DATE_TIME_FORMAT_H" order="3" tags="dtime">yyyy-MM-dd'T'HH</pattern>
			<pattern id="INPUT_DATE_TIME_FORMAT_D" order="4" tags="dtime">yyyy-MM-dd</pattern>
			<pattern id="INPUT_DATE_TIME_FORMAT_m" order="5" tags="dtime">yyyy-MM</pattern>
			<pattern id="INPUT_DATE_TIME_FORMAT_Y" order="6" tags="dtime">yyyy</pattern>
	</date_time_config>
	<custom>
		<options>
			<opt field="POST_PROCESSING" handler="setPostProcessing">some_timings</opt>
		</options>
		<config id="to_test">
			<date_format>yyyy-MM-dd HH:mm:ss</date_format>
			<starter>####\[\D{1,}\].*</starter>
			<date>(\d{4}-\d{1,2}-\d{1,2} \d{2}:\d{2}:\d{2})</date>
			<log_threshold>4</log_threshold>
			<pattern alevel="entry_pattern">test_</pattern>
		</config>
		<config id="pr_test">
			<date_format>yyyy-MM-dd HH:mm:ss</date_format>
			<date>(\d{4}-\d{1,2}-\d{1,2} \d{2}:\d{2}:\d{2})</date>
			<log_threshold>24</log_threshold>
			<pattern alevel="entry_pattern">processing_</pattern>
		</config>
		<thread_configs alevel="execute_thread" type="findPatternByTag">
			<extractor qlfr="or" tags="to_test, pr_test">ThreadStart: '\d{1,}'</extractor>
			<pattern clct="THRD_SKIP_END_PTTRNS" tags="to_test, pr_test">SkipPattern</pattern>
			<pattern clct="THRD_END_PTTRNS" tags="to_test, pr_test">ThreadEnd1</pattern>
			<pattern clct="THRD_END_PTTRNS" tags="to_test, pr_test">ThreadEnd2</pattern>
		</thread_configs>
		<pp_splitters>
			<splitter col_name="some_cmd" order="1" tags="some_timings" type="filter">Command name="?(.*?)"</splitter>
			<splitter col_name="count_of_operands" order="2" tags="some_timings" type="counter">(operand)</splitter>
		</pp_splitters>
		<filters>
			<filter tags="predef">Something::</filter>
		</filters>
	</custom>
</root>
